 <!--   <h1>Mi web personal</h1>
        <ul>
            <li><a href="/">Portada</a></li>
            <li><a href="/about-me">Acerca de </a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>-->
{% extends "core/base.html" %}

{% block title%}Curiosidades{% endblock %}

{%block content%}
<section class="cards">
    <div class="tarjeta">
        <div class="card-image img1"></div>
        <h2>el papel de jennifer parker</h2>
        <p>La actriz Claudia Wells, Jennifer Parker en 'Volver al Futuro', tuvo que alejarse de las pantallas por un tiempo luego de que su madre fuera diagnosticada con cáncer. Debido a esto, el papel fue tomado por la actriz Elisabeth Shue, para las películas 'Volver al futuro 2'(1989) y 'Volver al futuro 3'(1990)</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img2"></div>
        <h2>cameo de huey lewis</h2>
        <p>El cantante principal de la banda 'Huey Lewis and The News' interpreto a uno de los jueces en la escena en la que Marty McFly y su banda ('The Pinheads') audicionaban para la Batalla de las Bandas en el gimnasio de su escuela. La banda contribuyo con las canciones 'The Power of Love' y 'Back in Time' al soundtrack oficial de la pelicula</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img3"></div>
        <h2>la enfermedad de michael j. fox</h2>
        <p>El actor que interpreta al icónico Marty McFly, fue diagnosticado con la enfermedad de Parkinson a sus 29 años de edad en 1961. En su nuevo documental, 'Still: Una película sobre Michael J. Fox', nos muestra el recorrido de su exitosa carrera y como es convivir día a día con esta enfermedad</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img4"></div>
        <h2>los relojes</h2>
        <p>Al principio de la primera película, cuando aparecen los relojes, hay uno en particular en el que se visualiza a un hombre colgado de las manecillas de un reloj. Dicho hombre representa a Harold Lloyd en “Safety Last” (1923), tal y como Doc acabaria en 1955</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img5"></div>
        <h2>chuck berry</h2>
        <p>Al escuchar a Marty McFly interpretar en el escenario 'Johnny B.Goode', Marvin Berry llama por telefono a su primo para hacerle escuchar el sonido. Ese 'primo' es nada más y nada menos que el mismisimo cantante Chuck Berry</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img6"></div>
        <h2>zapatillas nike air mag</h2>
        <p>En honor a la pelicula 'Volver al Futuro 2', Nike lanzo una edición limitada de las inónicas zapatillas futuristas en el año 2011. Luego sacó otra en 2016 y otra mas en 2019.</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img7"></div>
        <h2>eric stolz</h2>
        <p>Antes de Michael J. Fox, el papel de Marty Mcfly iba a ser interpretado por el actor Eric Stolz. Debido a exigencias, llegadas tarde a las grabaciones,sus diferencias con el elenco y su estilo dramático para el tono de comedia que es 'Volver al Futuro', el actor fue despedido. </p>
    </div>
    <div class="tarjeta">
        <div class="card-image img8"></div>
        <h2>el doc brown en argentina</h2>
        <p>En 2011, Christopher Lloyd volvió a interpretar al Dr Brown para una producción argentina. Garbarino lo contrató para una serie de publicidades en las que el Doc viajaba en el tiempo para encontrar los productos más avanzados del mercado.</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img9"></div>
        <h2>refrigerador vs delorean</h2>
        <p>Entre los múltiples borradores de Volver al futuro, no siempre se precisó que la máquina del tiempo fuera un auto DeLorean. De hecho, una de las primeras opciones era un refrigerador.</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img10"></div>
        <h2>multiverso marty</h2>
        <p>Michael J. Fox, además de darle vida al icónico Marty McFly, interpreto el papel de su hijo Marty Mcfly Jr, su hija Marlene McFly, su versión de adulto de 2015 y hasta a su tatara abuelo, Seamus McFly</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img11"></div>
        <h2>elijah wood</h2>
        <p>Cuando Marty McFly está en el Café 80s en el Hill Valley de 2015, interactúa con dos niños para enseñarles a jugar Wild Gunman. Bueno, uno de esos niños fue interpretado por nada más ni nada menos que Elijah Wood. Tenia 8 años de edad.</p>
    </div>
    <div class="tarjeta">
        <div class="card-image img12"></div>
        <h2>doc rejuvenecido</h2>
        <p>En 'Volver al Futuro 2', el Doc. Emmett Brown confiesa haberse hecho una cirugia plástica en una clínica de estética. Era una excusa perfecta ya que envejecer al actor para interpretar al personaje era un proceso de maquillaje que demandaba mucho tiempo.</p>
    </div>
</section>

{%endblock%}